.App {
  text-align: center;
}
table{
  border: 1px solid ;
  border-collapse: collapse;
}
th, td{
  border: 1px solid ;
 
  
}
button{
  background-color: white;
}
.actions{
  display: flex;
  justify-content: center;
}